<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript">

        var HttpClient = function(){
            this.get = function(aUrl, aCallback){
                var anHttpRequest = new XMLHttpRequest();
                anHttpRequest.onreadystatechange = function() {
                    if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                        aCallback(anHttpRequest.responseText);
                }

                anHttpRequest.open("GET", aUrl, true);
                anHttpRequest.send(null);
            }
        }


        var theurl='localhost:8080/restuser/1';
        var client = new HttpClient();
                client.get(theurl, function(response){
                    var response1 = JSON.parse(response);
                    alert(response1);
                });
    </script>

</head>
<body>
<center>
    Javascript get request test
</center>
</body>
</html>